@page "/"
@page "/Home"
@layout CenteredLayout;

<PageTitle>Chris Grabosky</PageTitle>

<h1 class="cover-heading" id="pichead">
    <img src="assets/2018headshot.jpg" class="img-circle" width="128" height="128" />
    <br>
    Chris Grabosky
</h1>
<p class="lead"Solutions Architecture Manager for MongoDB out of Delran, NJ</p>
<p class="lead">Drexel University Alumnus of the IS BS/MS programs</p>
<p class="lead">Father, paintballer, tinkerer, and technology enthusiast</p>    
