@page "/Pic/{PicID}"
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime;
@layout AlbumLayout;

<PageTitle>Chris Grabosky's Photos</PageTitle>

<div class="mainheader">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1>Photos</h1>
        <p class="lead">An export of Chris Grabosky (graboskyc) Instagram profile</p>
        <p>
            <a href="/Home">Home</a> | 
            <a href="/Blog">Blog</a> | 
            <a href="/Pics">Pics</a> 
        </p>
      </div>
    </div>
</div>

<div class="container">
  <div class="py-5 bg-light">
    <div class="container">

      <div class="row ">
            @if(pic != null) {
                <div class="card shadow-sm">
                    <img src="https://gskywebstore.blob.core.windows.net/media/@pic.path" />
                    <p>@pic.caption</p>
                    <p>@pic.taken_at</p>
                </div>
            }     
      </div>
    </div>
  </div>
</div>

@code {
    [Parameter]
    public string PicID {get; set;}
    private DataModels.IG pic = null;

    private bool loginSuccess;
    protected override async Task OnInitializedAsync ()
    {
        loginSuccess = await JSRuntime.InvokeAsync<bool>("login");

        string[] args = {PicID};
        pic = await JSRuntime.InvokeAsync<DataModels.IG>("realmShim_Function", "getPic", args);
        StateHasChanged();
    }
}