
  .ctr_top {
    font-size: 3rem;
    text-align: center;
    top: 3vh;
    position: absolute;
    width: 100%;
    place-items: center;
    z-index: 99999999;
  }

  .ctr_top a {
    padding: 5px;
    background-color: #1F1F1F;
    color:#fff;
    text-decoration:none;
  }

  .ctr_top a i {
    vertical-align: text-top !important;
  }
  