@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="ctr_top">
            <p>OpenFlights Export</p>
            <a href="/Pics"><i class="cil-camera" title="Pictures"></i></a>
            <a href="/Blog"><i class="cil-notes" title="Blog"></i></a>
            <a href="http://linkedin.com/in/chris-grabosky" target="_blank"><i class="cib-linkedin-in" title="LinkedIn"></i></a>
            <a href="https://github.com/graboskyc" target="_blank"><i class="cib-github" title="GitHub"></i></a>
            <a href="https://keybase.io/graboskyc" target="_blank"><i class="cib-keybase" title="Keybase"></i></a>
            <a href="http://drexel.edu/cci/" target="_blank"><i class="cil-school" title="Drexel University (Alma Mater)"></i></a>
            <a href="http://www.mongodb.com" target="_blank"><i class="cib-mongodb" title="MongoDB (Employer)"></i></a>
        </div>

        @Body
    </main>
</div>
