.page {
    background-image: url("/assets/BGs/bg2.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
  }

  .ctr_parent {
    display: grid;
    place-items: center;
    width: 100%;
    resize: both;
    overflow: hidden;
    height:100vh;
  }

  .ctr_center {
    background: -webkit-radial-gradient(rgba(0,0,0,0.55) 40%,transparent 100%); 
    background: -o-radial-gradient(rgba(0,0,0,0.55) 40%,transparent 100%);
    background: -moz-radial-gradient(rgba(0,0,0,0.55) 40%,transparent 100%);
    background: radial-gradient(rgba(0,0,0,.55) 40%,transparent 100%);
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
  }

  .ctr_top {
    font-size: 2rem;
    text-align: center;
    top: 3vh;
    position: absolute;
    width: 100%;
  }

  a {
    text-shadow: 2px 2px #1F1F1F;
    color: #fff;
    float:left;
  }