@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="ctr_top">
            <NavLink class="topnav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
            <NavLink class="topnav-link" href="blog">
                Blog
            </NavLink>
            <NavLink class="topnav-link" href="pics">
                Pics
            </NavLink>
        </div>
        <div class="ctr_parent" >
            <div class="ctr_center">
                @Body
            </div>
        </div>
    </main>
</div>
