@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="ctr_top">
            <a href="/Pics"><img src="assets/icons/icon_instagram.png" width="36" height="36" border="0" title="Instagram Export"/></a>
            <a href="/Blog"><img src="assets/icons/icon_blog.png" width="36" height="36" border="0" title="Blog" /></a>
            <a href="http://linkedin.com/in/chris-grabosky" target="_blank"><img src="assets/icons/icon_linkedin.png" width="36" height="36" border="0" title="LinkedIn" /></a>
            <a href="https://github.com/graboskyc" target="_blank"><img src="assets/icons/icon_github.png" width="36" height="36" border="0" title="GitHub" /></a>
            <a href="https://bitbucket.org/graboskyc/" target="_blank"><img src="assets/icons/icon_bitbucket.png" width="36" height="36" border="0" title="BitBucket" /></a>
            <a href="https://keybase.io/graboskyc" target="_blank"><img src="assets/icons/icon_key.png" width="36" height="36" border="0" title="KeyBase" /></a>
            <a href="https://untappd.com/user/graboskyc" target="_blank"><img src="assets/icons/icon_untappd.png" width="36" height="36" border="0" title="Untappd" /></a>
            <a href="http://drexel.edu/cci/" target="_blank"><img src="assets/icons/icon_graduate.png" width="36" height="36" border="0" title="Drexel University (Alma Mater)" /></a>
            <a href="http://www.mongodb.com" target="_blank"><img src="assets/icons/icon_office.png" width="36" height="36" border="0" title="MongoDB (Employer)" /></a>
        </div>
        <div class="ctr_parent" >
            <div class="ctr_center">
                @Body
            </div>
        </div>
    </main>
</div>
