.mainheader {
    background-image: url("/assets/BGs/bg1.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
    width: 100%;
    text-align: center;
  }
  
  h1{
    text-shadow: 2px 2px #1F1F1F;
    color: #fff;
  }
  
  .mainheader p{
    text-shadow: 2px 2px #1F1F1F;
    color: #fff;
  }
  
  .mainheader p a{
    text-shadow: 2px 2px #1F1F1F;
    color: #fff;
  }
  .img-circle {
    margin-bottom:20px !important;
    border:5px solid #1F1F1F;
    border-radius:50%;
  }

  .masthead {
    min-height: 70vh;
    place-items: center;
  }

  .card-img-top {
    object-fit: cover;
    aspect-ratio: 3/2;
  }

  .row {
    text-align: center;
  }